@font-face {
    font-family: 'Roboto';
    src: url(../../fonts/Roboto/Roboto-Regular.ttf) format("truetype");
}

@font-face {
    font-family: 'Fleur De Leah';
    src: url(../../fonts/Fleur_De_Leah/FleurDeLeah-Regular.ttf) format("truetype");
}

@font-face {
    font-family: 'Grechen Fuemen';
    src: url(../../fonts/Grechen_Fuemen/GrechenFuemen-Regular.ttf) format("truetype");
}